* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Better to set this inside html than body
  /  because it determines value of rem */
  font-size: 18px;
}

body {
  background-image: url(kelly-sikkema-X7dy114KWs4-unsplash_compressed.jpg);
  /* Resize bg so that shortest dimension fills screen */
  background-size: cover;
  background-attachment: fixed;
  /* Include bg color as a fallback if image doesn't load */
  background-color: #CDD9D5;
  font-family: Georgia, serif;
  color: #18283F;
}

h1 {
  /* top right bottom left - auto R+L to center */
  margin: 1rem auto 1.2rem auto;
  text-align: center;
}

#description {
  /* top&bottom left&right */ 
  margin: 1em auto;
  padding: 10px;
  /* max-width same as form */
  max-width: 600px;
}

/* Main purpose is to lighten bg under intro text,
/  but also constrain its width */
.container {
  margin: auto;
  padding: 20px;
  width: 70vw;
  border-radius: 1em;
  background-color: #DDE9E555;
}

form, footer {
  width: 60vw;
  /* max-width same as description */
  max-width: 600px;
  min-width: 300px;
  border-radius: 0.5em;
}

form {
  margin: auto;
  padding: 25px 40px;
  background-color: #251022EE;
  color: #FFEFD5;
}

fieldset {
  border: none;
  /* margin: 0;
  padding: 0; */
}

legend {
  /* margin: 0;
  padding: 0; */
}

label {
  display: block;
}

/* All the rectangular input fields */
input, select, textarea {
  margin: 0 auto 2rem auto;
  padding: 8px;
  width: 100%;
  font-size: 1rem;
  min-height: 2em;
  color: #FFC3AB;
  background-color: #49313E;
  border: 1px solid #A99094;
  /* make them all the same font - textarea normally mono */
  font-family: sans-serif;
}

/* For inline inputs, override some of that */
input[type="checkbox"],
input[type="radio"] {
  width: unset;
  min-height: unset;
  margin: 0.4em;
}

/* Don't round corners of dropdown */
input, textarea {
  border-radius: 0.2em;
}

input::placeholder,
textarea::placeholder {
  color: #C0A6A1;
  /* Specify opacity because Firefox reduces it by default */
  opacity: 1;
}

/* input[type="file"] {
} */

input::file-selector-button {
  background-color: #FFC3AB;
  margin: auto 1.5rem auto 0.5rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 1px 1px 0 1px #FAAC8D;

}

input::file-selector-button:hover {
  background-color: #ffe4b8;
}

input::file-selector-button:active {
  background-color: #FAAC8D;
}

.question {
  font-size: 1.15rem;
  margin-bottom: 0.3em;
}

/* Label on radio buttons and checkboxes - 
/  narrow them slightly to look indented under their question */
.answer {
  margin: auto;
  width: 95%;
}

.note {
  font-size: 0.75em;
}

/* This is to make the extra text field stay in line 
/  with the radio buttons */
#custom-gender-div {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

/* A little smaller than other text fields since
/  it's part of a list */
#custom-gender-field {
  display: block;
  font-size: 0.9em;
  min-height: 1.5em;
  margin: auto;
}

/* Add a divider and extra spacing before a new
/  section of the form starts */
#fs-main-questions, #comments-label {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 2px solid #A99094;
}

#submit {
  background-color: #FAAC8D;
  color: #18283F;
  border: none;
  margin: 1rem auto;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Georgia;
  letter-spacing: 1px;
  box-shadow: 2px 2px 0 2px #af7575;
}

#submit:hover {
  background: linear-gradient(90deg, #af7575, #FAAC8D 25% 75%, #af7575);
}

#submit:active {
  background-color: #af7575;
  background: linear-gradient(90deg, #FAAC8D, #af7575 25% 75%, #FAAC8D);
}

a {
  color: #18283F;
}

footer {
  margin: 1rem auto;
  padding: 0.5em;
  background-color: #FFEFD599;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}
